/* цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/* цвет фона первичный #FFFFFF */
/* цвет фона вторичный #F5F4FA */
/*акцент цвет #2196F3*/
/* цвет футера и героя #2F303A */

body {
  background-color: #ffffff;
  color: #212121;
}
.logo {
  color: #212121;
}

.header-logo {
  color: #2196f3;
}

.header-logo {
  color: black;
}

.nav-link {
  color: #212121;
}

.header-link-mail,
.header-link-tel {
  color: #757575;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.header-link-mail:hover,
.header-link-mail:focus {
  color: #2196f3;
}

.header-link-tel:hover,
.header-link-tel:focus {
  color: #2196f3;
}
